---
layout: frontpage
title: Template Site
---

<body>
    <div class="first_background" id="top"><!-- - this gets the background image -->
      <div class="intro-header"><!-- This gets an opaque bg colour to allow darkening of the bg image -->
        <div class="container">
          <div class="row">
            <div id="text-intro" class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
              <div class="intro-message">
                {% markdown frontpage/intro-title.md %}
            <div class="lead">
                {% markdown frontpage/intro.md %}
            </div>
                {% include general/social.html %}
              </div>
              <!-- ./intro-message --> </div>
            <!-- ./col-lg-5 col-lg-offset-2 col-sm-6 -->
            <div id="main-image" class="col-lg-5 col-lg-offset-2 col-md-6 col-sm-6 col-xs-6">
              <img class="img-responsive main-img" src="assets/images/img2.jpg"> </div>
            <!-- ./col-lg-6 --> </div>
          <!-- ./row --> </div>
        <!-- /.container --> </div>
      <!-- /.intro-header --> </div>
    <!-- /.first_background -->
    <section id="section-1">
      <div class="content-section-a">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-6 col-xs-6">
              {% markdown frontpage/about.md %}
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 col-xs-6">
            <img class="img-responsive"src="assets/images/about.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- /.container --> </div>
      <!-- /.content-section-a --> </section>
    <section id="section-2">
      <div class="content-section-b">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6 col-xs-6">
              {% markdown frontpage/services.md %}
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6 col-xs-6"> <img class="img-responsive"
                src="assets/images/services.jpg" alt=""> </div>
          </div>
        </div>
        <!-- /.container --> </div>
      <!-- /.content-section-b --> </section>
      <div class="banner">
         <div id="contact" class="container">
           <div class="row">
             <div class="col-lg-6 col-xs-12">
               {% markdown frontpage/vote.md %}
             </div>
               <div class="col-lg-6 col-xs-12">
                 <ul class="list-inline banner-social-buttons">
                   <li><a href="https://www.facebook.com/" class="btn btn-default btn-lg">
                   <i class="fa fa-facebook fa-fw"></i>
                       <span class="network-name">Facebook</span></a> </li>
                   <li><a href="#" class="nonclick-phone btn btn-default btn-lg">
                   <i class="fa fa-phone fa-fw"></i>
                       <span class="network-name">Call 012 345 678</span></a> </li>
                   <li><a href="tel:+353863488966" class="click-phone btn btn-default btn-lg">
                   <i class="fa fa-phone fa-fw"></i>
                       <span class="network-name">Click here to call</span></a> </li>
                 </ul>
               </div>
             </div>
           </div>
           <!-- /.container --> </div>
